nav {
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Baloo 2", sans-serif;
  padding: 20px 0;
}

.nav-logo img {
  height: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-links img {
  height: 30px;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 18px;
}
