html, body{
    min-height: 100%;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

.pink-capsule-btn{
    border: 0;
    padding: 7px 21px;
    border-radius: 30px;
    background-color: #FA265D;
    color: #fff !important;
}